<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="page">

        <h1>ERROR 404</h1>
        <p>EJS doesn't live here</p>
    </div>
</body>
</html>