<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>
    
    <div class="page">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis autem tempore at. Laborum, illo consequatur qui debitis est quidem quae possimus natus ex labore mollitia repudiandae aliquam. Natus, dolorem quisquam?</p>
    </div>
</body>
</html>