<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="page form">

        <form action="">
            <label for="">Book</label>
            <input required type="text">
            <label for="">Chapter</label>
            <input required type="text">
            <label for="">Verse</label>
            <input required type="text">
            <label for="">Personalise</label>
            <textarea required></textarea>
    
    
            <button type="submit">Personalise</button>
        </form>
    </div>
</body>
</html>