<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>


<body>
    <%- include('../partials/nav.ejs') %>
    <div class="page form">

        <form action="/verses"  method="POST" id="form">
            <label for="">Chapter</label>
            <input required type="text" name="chapter">
            <label for="">Verse</label>
            <input required type="text" name="verse">
            <label for="">Personalise</label>
            <textarea required name="text"></textarea>
    
            
            <button type="submit">Personalise</button>

        </form>
        
         <p id="message"></p>
    </div>
</body>

<!-- <script>
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('form');
        const message = document.getElementById('message');
        form.addEventListener('submit', (e) => {
            e.preventDefault()

            const formData = new FormData(form);
            const data = {};
            console.log(data, formData)

            formData.forEach((value, key) => {
                console.log(key, value)
                data[key] = value
            });

            fetch('/verse/create', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data)
            })
            .then(res => {
                console.log(res.json())
                return res.json();
            })
            .then(result => {
                
                console.log(result)
                message.innerHTML = result.message
                alert(result.message)
                window.location = result.redirect
                
            })
            .catch(err => {
                console.log('Error:', err)
            })
        })
    })
</script> -->
</html>